* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

html {
    background-color: #17171a;
}

h1 {
    font-weight: 800;
    color: #54658e;
    margin-bottom: 6px;
}

a {
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    color: #72747b;
    padding: 0;
    margin-bottom: 3px;
}

a:hover {
    border-bottom: 1px dotted;
    margin-bottom: 2px;
}

input {
    width: 340px;
    padding: 4px;
    background-color: #333;
    border-radius: 4px;
    border: none;
    color: #eee;
    font-size: 16px;
    text-align: center;
}

input:focus {
    outline: none;
}

#search {
    margin-top: calc(50vh - 170px);
    text-align: center;
}

#wrapper {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

#right {
    margin-left: 24px;
}

#thumb {
    border-radius: 4px;
    filter: brightness(90%);
    filter: saturate(1);
    filter: contrast(50%);
    width: 200px;
    height: 200px;
}